{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<!-- Display the blog section with the post title and author -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">By {{ post.author }} on {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <!-- Display a default image if there is no featured image -->
                <img src="{% static 'images/blogplaceholder.webp' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ post.featured_img.url }}" class="scale" alt="{{ post.title }}" />
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card-mb-4 mt-3 left top">
            <div class="card-body">
                <!-- Display the individual blog post, safe tag for summernote field input -->
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{comment.count }} Comments
            </strong>
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>
    <!-- Can we display no of views or likes? -->
    <!-- Display Comments-->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments</h3>
            {% if comments %}
            <!-- Check if there are any comments -->
            <div class="card-body">
                <!-- Loop through each comment and display it -->
                <!-- For loop to iterate through each comment in comments. Should they all be in there? -->
                <!-- for comment in post.comments.all  -->
                {% for comment in comments %}
                <div
                    class="p-2 comments {% if comment.status == 0 and comment.commenter == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <!-- Show the comment if it's approved or it's pending and belongs to the logged-in user -->
                    <!-- The comment should only available in this html page if it's approved, or if it's the same logged in user they'll see it in lighter text CHECK THIS!!! -->
                    <p class="font-weight-bold">
                        {{ comment.commenter }}
                        <span class="font-weight-normal"> {{ comment.created_at }} </span>
                    </p>
                    <div id="comment {{ comment.id }}">
                        {{ comment.comment | linebreaks }}
                        {% if not comment.approved and comment.commenter == user %}
                        <p class="approval">This comment is awaiting approval</p>
                        {% endif %}
                        {% if user.is_authenticated and comment.commenter %}
                        <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                        <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                        {% endif %}
                    </div>
                    <!-- For loop ends here -->
                </div>
                {% endfor %}
            </div>
            {% else %}
            <!-- Message displayed if there are no comments yet -->
            <p>No comments yet. Be the first to comment!</p>
            {% endif %}
        </div>
    </div>

    <hr />
    <!-- Comment Submission Section -->
    <!-- This will throw errors as authentication needs adding -->
    <div>
        <h3>Add a Comment</h3>
        {% if user.is_authenticated %}
        <!-- Form to add a new comment, visible only to logged-in users -->
        <form id="commentForm" method="post" style="margin-top: 1.3em">
            <!-- don't forget to import crispy forms -->
            {{ comment_form | crispy }} {csrf_token %}
            <button id="sumbitButton" type="submit" class="btn btn-signup btn-lg">Add comment</button>
        </form>
        {% else %}
        <!-- Prompt for users to log in or sign up before commenting -->
        <p>You must be <a href="{% url 'login' %}">logged in</a> to add a comment. Don't have an account? <a
                href="{% url 'signup' %}">Sign up here</a>.</p>
        {% endif %}
    </div>
    <div>
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="1-" aria-labelledby="deleteModalLabel" aria-hidden="True">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete your comment? This action can not be undone.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button">Close</button>
                        <a href="#" class="btn btn-danger" id="deleteConfirm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Pagination for the individual blog post -->
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}
    <!-- Comment Form JS Script goes here  -->