{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<!-- Display the blog section with the post title and author -->
<div class="masthead-post">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <!-- Display a default image if there is no featured image -->
                <img src="{% static 'images/blogplaceholder.webp' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ post.featured_img.url }}" class="scale" alt="{{ post.title }}" />
                {% endif %}
            </div>
            <div class="masthead-text"></div>
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-subtitle">By {{ post.author }} on {{ post.created_on }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card-mb-4 mt-3 left top">
            <div class="card-body">
                <!-- Display the individual blog post, safe tag for summernote field input -->
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
    <!-- Displaying count of post views -->
    <div class="row">
        <div class="col-6 text-left">
            <strong class="text-secondary">
                <i class="far fa-eye"></i> {{ post.views }} Views
            </strong>
        </div>
        <!-- Displaying count of comments -->
        <div class="col-6 text-right">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }} Comments
            </strong>
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>


    <!-- Display Comments-->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments</h3>
            <!-- Check if there are any comments -->
            {% if comments %}
            <div class="card-body">
                <!-- Loop through each comment and display it -->
                <!-- For loop to iterate through each comment in comments. Should they all be in there? -->
                <!-- for comment in post.comments.all  -->
                {% for comment in comments %}
                <div
                    class="p-2 comments {% if comment.status == 0 and comment.commenter == user %} faded{% elif comment.status == 0 and comment.commenter != user %} d-none{% endif %}">
                    <!-- IF comment is pending and the commenter is the logged in user -->
                    <!-- show faded comment with waiting for approval message -->
                    <!-- IF comment is pending (do we need to add and commenter is NOT user?) do not show -->
                    <!-- ELSE show the comment -->
                    <p class="font-weight-bold">
                        {{ comment.commenter }}
                        <span class="font-weight-normal"> {{ comment.created_at }} </span>
                    </p>
                    <div id="comment{{ comment.id }}">{{ comment.comment | linebreaks }}
                    </div>
                    <!-- part of the first IF - show faded comment with waiting for approval message -->
                    {% if comment.status == 0 and comment.commenter == user %}
                    <!-- Show this message to the commenter if post is not approved -->
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    <!-- If the approved comment belongs to logged in user show edit and delete buttons -->
                    {% if user.is_authenticated and comment.commenter == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- For loop ends here -->
            </div>
            {% endfor %}
        </div>
        {% else %}
        <!-- Message displayed if there are no comments yet -->
        <p>No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>
</div>

<hr />
<!-- Comment Submission Section -->
<div class="cold-md-4 card mb-4 mt-3">
    <div class="card-body">
        <h3>Add a Comment</h3>
        {% if user.is_authenticated %}
        <!-- Form to add a new comment, visible only to logged-in users -->
        <form id="commentForm" method="post" style="margin-top: 1.3em">
            <!-- We're using crispy forms -->
            {{ comment_form | crispy }} {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Add comment</button>
        </form>
        {% else %}
        <!-- Prompt for users to log in or sign up before commenting -->
        <p>You must be <a href="{% url 'account_login' %}?next={{ request.path }}">logged in</a> to add a comment. Don't have an account? <a
                href="{% url 'account_signup' %}?next={{ request.path }}">Sign up here</a></p>
        {% endif %}
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete your comment? This action can not be
                undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="#" class="btn btn-danger" id="deleteConfirm">Delete</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
<!-- Comment Form JS Script goes here  -->
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}