{% extends "base.html" %}

{% block content %}
<p>This is the start of the product-detail.html</p>
<p>These will be individual product details</p>

<!-- Display the individual blog post -->
<h1>{{ product.title }}</h1>
<p> Description: {{ product.description }} </p>
<p>Price: {{ products.price }}</p>
<p>Category: {{ products.category }} </p> <!-- if not blank -->
<hr>

<h3>Related Products</h3>
<p>If you like this, you might like these/this (depending if there's more than one)...</p>
<p>I wonder how we could add an automatic related product look up 🤔</p>
<!-- could we add an automated related product look up? -->
<hr>
<!-- Add reviews model? -->
<div>
    <h3>Possibly Reviews Section?</h3>
    <p>We might add a reviews section here (but that would be yet *another* model!)</p>
</div>

<hr>
<!-- Add reviews models? 
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form> -->

<p>This is the end of the product-detail.html</p>
{% endblock %}