{% extends 'base.html' %}

{% block content %}
<h2>{{ product.title }}</h2>
<p>{{ product.description | safe }}</p>
<p>Price: £{{ product.price }}</p>
<!--Or products? CHECK! -->
<p>Category: {{ product.category }} </p> <!-- if not blank -->

<hr>

<!-- Form to purchase the product  -->
<p>Order the full guide</p>
<form method="POST" action="{% url 'purchase_product' product.id %}">
    {% csrf_token %}
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" min="1" max="{{ product.stock }}" value="1" required>
    <button type="submit">Buy Now</button>
</form>
<hr>

<h3>Related Products</h3>
<p>If you like this, you might like these/this (depending if there's more than one)...</p>
<!-- <p>I wonder how we could add an automatic related product look up 🤔</p> -->
<!-- could we add an automated related product look up? -->
<hr>
<!-- Add reviews model? -->
<div>
    <h3>Possibly Reviews Section?</h3>
    <p>We might add a reviews section here (but that would be yet *another* model!)</p>
</div>

<hr>
<!-- Add reviews models? 
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Add Comment</button>
</form> -->

{% endblock %}