{% extends 'base.html' %}

{% block content %}
<h1>Purchase History</h1>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if purchases %}
<ul>
    {% for purchase in purchases %}
    <li>
        <strong>{{ purchase.product.title }}</strong> - {{ purchase.quantity }} purchased at £{{ purchase.price_paid }}
        on
        {{ purchase.purchase_date }} ({{ purchase.get_status_display }})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have not made any purchases yet. Visit our <a href="{% url 'product_list' %}">store</a>!</p>
{% endif %}

{% endblock content %}